body {
    background-color: #e2ffff;
    color: #15495e;
    font-family: Arial, Verdana, sans-serif;
}
h1 {
    background-color: #237b7b;
    color: #e2ffff;
    line-height: 200%;
    font-family: Georgia, "Times New Roman", serif;
    text-indent: 1em;
    text-shadow: 3px 3px 5px #000000;
}
h2 {
    background-color: #b0e6e6;
    color: #237b7b;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
}
nav {
    font-weight: bold;
    font-size: 1.25em;
    word-spacing: 1em;
}
nav a {
    text-decoration: none;
}
p {
    font-size: 0.9em;
    text-indent: 3em;
}
ul {
    font-weight: bold;
}
.feature {
    color: #c70000;
}
footer {
    color: #333333;
    font-size: 0.75em;
    font-style: italic;
}
.company {
    font-weight: bold;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.25em;
}
